 <div class="row" id="quiz">
    <div class="large-4 medium-4 columns" id="initQuiz">
        <form>
			<p>Quiz Name:
				<input type="text" id="quizName">
            </p>
            <p><br>
				Tour link ID:
				<input type="text" id="tourID">
            <br>
            </p>
            <p>
				<input type="button" value="Submit" id="newQuiz">
            </p>
		</form>
    </div>
    <div class="medium-4 small-2 columns" id="questions">
	</div>	
	<div class="large-8 small-4 columns float-left" >
		<div id="submittedQuestions">
		</div>
	</div>

	<link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/app.css" />
	<script src="/lib/jquery-2.1.4.js"></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/what-input.min.js"></script>
    <script src="/lib/foundation.min.js"></script>
    <script src="/js/app.js"></script>
	<script src="/js/Quiz.js"></script>
    <script src="/js/quizHelper.js"></script>
</div>