<div class="large-6 medium-4 columns">
	<link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/app.css" />
	<script src="/lib/what-input.min.js"></script>
    <script src="/lib/foundation.min.js"></script>
    <script src="/js/app.js"></script>
	
	<ul class="sub-nav menu" role="navigation">
		<li><span class="show-for-sr"></span><a href="/quiz/view">View Quizzes</a></li>
		<li><a href="/quiz/add">Add a Quiz</a></li>
		<li class="active"><a href="/quiz/edit">Edit a Quiz</a></li>
	</ul>
    <form>
		<label>Quiz Name:</label>
		<input type="text" id="quizName" ng-model="quizData.name">
		<div ng-repeat="q in quizData.questions">
			Question:<input type='text' ng-model="q.question" id='question1'>
			Possible Answers:<br>
			Answer 1: <input type='text' ng-model="q.options[0]" id='answer1'>
			Answer 2: <input type='text' ng-model="q.options[1]" id='answer2'>
			Answer 3: <input type='text' ng-model="q.options[2]" id='answer3'>
			Answer 4: <input type='text' ng-model="q.options[3]" id='answer4'>
			Answer 5: <input type='text' ng-model="q.options[4]" id='answer5'>
			Answer key: <input type='number' min="1" max="5" id='answer' ng-model="q.answer">
			Hint: <input type='text' id='hint' ng-model="q.hint">
		</div>		
		<input type="button" value="Add New Question" ng-click="addQuestion()">
		<br></br>
		<input type="button" value="Save" id="editQuiz" ng-click="saveForm()">
	</form>
</div>