<div>
	<ul class="sub-nav menu" role="navigation">
		<li><a href="/register/view">Admin Accounts</a></li>
		<li><slian class="show-for-sr"></slian><a href="/register">Register an Admin Account</a></li>
		<li class="active"><a href="">Update Password</a></li>
	</ul>
	<h3>Update Password</h3>
	<div ng-show="error">
		{{errorMessage}}
	</div>
	<form ng-submit="update()">
		<label>Username:</label>
		<label>{{updateForm.username}}</label>
		<label>New Password</label>
		<input type="password" placeholder="Password" ng-model="updateForm.password"/>
		<label>Confirm New Password</label>
		<input type="password" placeholder="Confirm Password" ng-model="updateForm.password2"/><br/>
		<input type="submit" value="Update"/>
	</form>
</div>