<div>
	<ul class="sub-nav menu" role="navigation">
		<li class="active"><slian class="show-for-sr"></slian><a href="/quiz/view">View Quizzes</a></li>
		<li><a href="/quiz/add">Add a Quiz</a></li>
	</ul>
	<div>
		<ul><h3>Quizzes</h3>
			<li ng-repeat="quiz in quizData">
				<a href="" ng-click="showing = !showing">Quiz Name: {{quiz.name}}</a>
				<table border="5" border-style="solid" ng-show="showing">
					<tr>
						<td>Quiz Name: {{quiz.name}}</td>
					</tr>
					<tr ng-repeat="q in quiz.questions">
						<td>
							<label>Question: {{q.question}}</label>
							<ul ng-repeat="choice in q.options">
								<li>Answer {{$index+1}}: {{choice}}</li>
							</ul>
							<label>Correct Answer Number: {{q.answer}}</label>
							<label>Question Hint: {{q.hint}}</label>
						</td>
					</tr>
				</table>
				<input type="button" ng-click="editQuiz(quiz)" value="Edit Quiz" />
				<input type="button" ng-click="removeQuiz(quiz._id)" value="Delete Quiz" />
			</li>
		</ul>
	</div>
</div>