<div>
	<ul class="sub-nav menu" role="navigation">
		<li class="active"><span class="show-for-sr"></span><a href="/user/view">View Users</a></li>
	</ul>
	<div>
		<h3>Users</h3>
		<table border="5" border-style="solid" table-layout="auto">
			<tr>
				<td align="center">
					<a href="" ng-click="sortType='username'; sortReverse = !sortReverse">
					User Name
					</a>
				</td>
				<td>
					<a href="" ng-click="sortType='studentid'; sortReverse = !sortReverse">
					Student ID
					</a>
				</td>
				<td align="center">
					<a href="" ng-click="sortType='type'; sortReverse = !sortReverse">
					Type
					</a>
				</td>
				<td align="center">
					<a href="" ng-click="sortType='company'; sortReverse = !sortReverse">
					Company
					</a>
				</td>
				<td align="center">
					<a href="" ng-click="sortType='course'; sortReverse = !sortReverse">
					Course
					</a>
				</td>
				<td align="center">
					Quizzes
				</td>
				<td>
					<p align="center">Delete</p>
					<input type="checkbox" ng-model="selectAll" ng-click="checkAll()"/>
				</td>
			</tr>
			<tr ng-repeat="user in userData | orderBy:sortType:sortReverse">
				<td>{{user.username}}</td>
				<td>{{user.studentid}}</td>
				<td>{{user.type}}</td>
				<td>{{user.company}}</td>
				<td>{{user.course}}</td>
				<td>
					<ul>
						<li ng-repeat="quiz in user.quizzes">
							<label>Quiz Name: {{quiz.name}}</label>
							<label>Quiz Date: {{quiz.date}}</label>
							<label>Quiz Score/Total: {{quiz.score}}/{{quiz.total}}</label>
						</li>
					</ul>
				</td>
				<td>
					<input type="checkbox" ng-model="user.selected" />
				</td>
			</tr>
		</table>
		<input type="button" ng-click="deleteSelected()" value="Delete Selected"/>
	</div>
</div>